@charset 'utf-8';

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  font-size: 1.2rem;
}

.a-line {
  font-size: 1.5rem;
}

.ka-line {
  font-size: 1.7rem;
  color: #333;
  padding: 10px;
  background-color: aquamarine;
}

.table {
  display: flex;
  width: 80%;
  margin: 0 auto 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

#ra-line {
  background-color: rgb(200, 100, 50);
}

#wa-line {
  background-color: lightcoral;
}
